.cloud-loader {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.cloud-loader .loader {
  --cloud-color: #4387f4;
  --arrows-color: #80b1ff;
  --time-animation: 1s;
  transform: scale(1.1);
}

.cloud-loader #cloud {
  width: 100px;
  height: 100px;
}

.cloud-loader #cloud rect {
  fill: var(--cloud-color);
}

.cloud-loader #cloud g:nth-child(3) {
  transform-origin: 50% 72.8938%;
  fill: var(--arrows-color);
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.45));
  animation: loader-rotation var(--time-animation) linear infinite;
}

.cloud-loader #shapes g g circle {
  animation: loader-cloud calc(var(--time-animation) * 2) linear infinite;
}

.cloud-loader #shapes g g circle:nth-child(2) {
  animation-delay: calc((var(--time-animation) * 2) / -3);
}

.cloud-loader #shapes g g circle:nth-child(3) {
  animation-delay: calc((var(--time-animation) * 2) / -1.5);
}

.cloud-loader svg #lines g line {
  stroke-width: 5;
  transform-origin: 50% 50%;
  rotate: -65deg;
  animation: loader-lines calc(var(--time-animation) / 1.33) linear infinite;
}

@keyframes loader-rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-lines {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(8px);
  }
}

@keyframes loader-cloud {
  0% {
    cx: 20;
    cy: 60;
    r: 15;
  }
  50% {
    cx: 50;
    cy: 45;
    r: 20;
  }
  100% {
    cx: 80;
    cy: 60;
    r: 15;
  }
}
